@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8ff;
}

/* header section */

/*navbar*/
 .navbar {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 135px;
    height: 82px
 }

 .nav-links {
    display: flex;
    gap: 30px;
 }

 .nav-links a {
    color: rgb(137, 135, 161);
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
 }

 .cart {
   font-weight: bold;
 }

 #home {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(37, 36, 50);
 }

 /* Banner */

 .banner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: auto;
    max-width: 1140px;
    margin: 120px auto 0 auto;
 }

 .banner-description h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 13px;
 }

 .banner-description p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
 }

 .banner-description .fresh-flower {
    color: #E95A08;
 }

 /* products section */

 .products-section {
   text-align: center;
   margin: 120px auto 100px auto;
   width: 100%;
    height: auto;
    max-width: 1140px;
   
 }

 .products-section h2 {
   font-size: 3rem;
   margin-bottom: 16px;

 }

 .products-section .highlight {
   color: #E95A08;
 }

 .products-section .products-description {
   color: rgba(0, 0, 0, 0.5);
   text-align: center;
   font-size: 1.375rem;
   font-weight: 400;
   
   
 }

 .product-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin-top: 50px;
 }

.card img {
  width: 100%;
  margin-bottom: 30px;
}

.card h3 {
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.card .price {
   font-weight: bold;
   font-size: 1.375rem;
}

.card button {
   width: 100%;
   height: 50px;
   background-color:#E95A08;
   border: none;
   color: #ffffff;
   margin-top: 20px;
   cursor: pointer;
}

.card:hover {
   transform: scale(1.05);
}

/* feature section */

.feature-section {
   justify-content: space-between;
   margin: 0 auto;
   width: 100%;
   max-width: 1140px;
   display: flex;
   gap: 30px;
   padding: 40px;
   flex-wrap: wrap;
   
}

.feature-image {
   position: relative;
   flex: 1;
   min-width: 300px;
}

.shop-image {
   width: 100%;
   height: auto;
}

.trusted-badge {
   position: absolute;
   top: -110px;
   right: -110px;
   width: 250px;
   height: 250px;
   z-index: 2;
}

.feature-content {
   flex: 1;
   margin: 40px 0 40px 60px;
}

.feature-content h2 {
   font-size: 3.125rem;
   font-weight: 700;
   margin-bottom: 20px;
}

.feature-content ul {
   font-weight: 400;
   font-size: 1.375rem;
   padding-left: 20px;
   color: rgba(0, 0, 0, 0.5);
}

.feature-content ul li {
   margin-bottom: 20px;
}

/* latest deals section */

/* ------- Section Layout ------- */
.latest-deals {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 1rem;
  text-align: center;
}

/* Heading styles */
.section-title {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.section-title .highlight {
  color: #E95A08;
}
.section-sub {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  margin-bottom: 100px;
}

/* ------- Grid Layout ------- */
.deal-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}

/* ------- Deal Cards ------- */
.deal-card {
  position: relative;
  padding: 2rem;
  min-height: 180px;
  color: #ffffff;
  border-radius: 22px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.deal-card::before {
   content: "";
   position: absolute;
   inset: 0;
   background: rgba(0, 0, 0, 0.4);
   z-index: 0;

}

.deal-card *{
   position: relative;
   z-index: 1;
}

.deal-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.deal-card h2 {
   font-size: 2.125rem;
}

.deal-card a {
   color: #ffffff;
   font-size: 1.125rem;
}
.deal-card  #a {
   color: #ffffff;
  font-size: 1.5rem;
}

.deal-card .small {
  min-height: 160px;
}
.deal-card .large {
  grid-row: span 2;
  min-height: 100%;
}

.left-column {
   gap: 30px;
}

.bloom-card {
  background-image:  url('../assets/deal-bloom.png');
  margin-bottom: 30px;
}
.ana-card {
  background-image: url('../assets/deal-ana.png');
}
.zabo-card {
  background-image: url('../assets/deal-zabo.png');
  height: 100%;
}

/* subscribe section */

.subscribe-section {
   background-image: url('../assets/news-letter-bg.png');
   background-size: cover;
   width: 100%;
   max-width: 1440px;
   height: 533px;
   background-position: center;
   color: #ffffff;
   text-align: center;
   padding: 190px 305px 190px 305px;
   margin-bottom: 50px;
}

.subscribe-section h1 {
   font-size: 3rem;
   margin-bottom: 20px;
}

.subscribe-form {
   display: flex;
   flex: 1;
   border: none;
   font-size: 1rem;
}

.subscribe-form input[type="email"]
{
   padding: 10px;
   flex: 1;
   border: none;
   font-size: 1rem;
   
}

.subscribe-form button {
   padding: 10px 20px;
   border: none;
   background-color: #E95A08;
   color: #ffffff;
   font-size: 1rem;
   cursor: pointer;
   transition: all 0.3s ease;
}

.subscribe-form button:hover {
   background-color: #ff6b1a;
   color: black;
}

/* footer section */
.footer-content {
   width: 100%;
   max-width: 1140px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin: 0 auto;
   padding: 0 20px;
}

.footer-about {
   width: 80%;
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 70px;
}

.footer-about img {
   width: 120px;
   height: auto;
}

.footer-about p {
   color: rgba(0, 0, 0, 0.5);
   font-size: 1.125rem;
}

.links-column ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.links-column li {
   margin-bottom: 30px;
}


.links-column a {
   color: rgba(0, 0, 0, 0.5);
   font-size: 1rem;
   text-decoration: none;
   transition: color 0.3s;
}

.links-column a:hover {
   color: #f1c40f;
}

.social-icons {
   display: flex;
   gap: 15px;
}

.social-icons img {
   width: 35px;
   height: 35px;
   opacity: 0.7;
   transition: opacity 0.3s;
}

.social-icons img:hover{
   opacity: 1;
}



 /* responsive media query */

 @media screen and (max-width: 576px) {

   /* nav section */
   .nav-links a {
     display: none;
   }

   .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 146px;
      padding: 0 16px 0 16px;
   }

   /* banner */

   .banner {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 28px;
   }

   .banner-description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 13px;
      padding: 28px 16px 0 16px;
   }

   .banner-description h1 {
      font-size: 2rem;
      font-weight: 700;
   }
   
.banner-description p {
   font-size: 1rem;
}

   .banner-description p br {
      display: none;
   }

   /* product section */

   .products-section {
      padding: 0 20px;
   }
   .products-section h2 {
      font-size: 2rem;
   }

   .products-section .products-description {
      font-size: 1rem;
   }

   .card h3 {
      font-size: 1rem;
   }

   .card .price{
      font-size: 1rem;
   }

   .products-description br {
      display: none;
   }
   
   .product-grid {
      grid-template-columns: repeat(2, 1fr);

   }

   .product-grid .card:nth-child(n+7){
      display: none;
   }

   /* feature section */

   .feature-section {
      flex-direction: column;
      padding: 10px;
   }

   .trusted-badge {
      display: none;
   }

   .feature-content {
      text-align: left;
      margin: 16px auto 16px auto;
   }

   .feature-content h2 {
      font-size: 2rem;
   }

   .feature-content ul {
      font-size: 1.2rem;
      margin-left: 15px;
   }

   /* latest deal section */
    .section-title {
      font-size: 2rem;
    }

    .section-sub {
      font-size: 1rem;
      margin-bottom: 50px;
    }
   .section-sub br {
     display: none;
   }
    .deal-grid {
      grid-template-columns: 1fr;
    }

    .left-column {
      flex-direction: column;
    }

    .right-column {
      flex-direction: column;
    }

    .right-column h2 {
      font-size: 1.5rem;
    }

    .right-column #a {
      font-size: 1.125rem;
    }

    .deal-card {
      width: 100%;
      min-height: auto;
    }

    /* subscribe section */

    .subscribe-section {
      padding: 80px 20px;
      height: auto;
    }
    .subscribe-section h1 {
      font-size: 2rem;
      margin-bottom: 15px;
    }

    .subscribe-form {
      display: flex;
      flex-direction: row;
      max-width: 100%;
    }

    .subscribe-form input[type="email"] {
      flex: 1;
      padding: 10px 15px;
    }

    .subscribe-form button {
      padding: 10px 20px;
    }

    /* footer section */
    .footer-content {
      grid-template-columns: 1fr;
      margin-bottom: 50px;
    }

    .footer-about {
      margin-bottom: 20px;
    }


 }